.title {
  font-weight: bold;
  font-size: 26px;
  line-height: 32px;
}

.score {
  color: #8b00ff;
  font-size: 32px;
  line-height: 36px;
}

.cardWrapper {
  padding: 24px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  align-items: center;
  gap: 8px;
  min-width: 100px;

  .cardTitle {
    font-size: 18px;
    line-height: 24px;
  }
  .cardScore {
    color: #8b00ff;
    font-size: 32px;
    line-height: 36px;
  }
}

.cardSkills {
  padding: 24px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  gap: 8px;
  width: 100%;

  .cardValue {
    padding: 8px;
    border-radius: 4px;
    //box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: fit-content;
    border: 1px solid transparent;

    &.match {
      color: green;
      border-color: green;
      background-color: #e7f8e4;
    }

    &.partial {
      color: #ffa500;
      border-color: #ffa500;
      background-color: #feffad;
    }

    &.missing {
      color: red;
      border-color: red;
      background-color: #fe9f9f;
    }
  }
}
